.ships-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#content > .ships-container {
    padding-right: 5rem;
}

.board + .ships-container {
    padding-left: 5rem;
}

.ship {
    background: transparent;
    height: 50px;
    outline: dotted white;
    overflow: visible;
    position: relative;
    z-index: 5;
}

.placed-ship-on-board {
    pointer-events: none;
}

.biggest-ship {
    width: 250px;
    background: url("../assets/ShipBattleshipHullHorizontal.png") no-repeat center;
    background-size: 95%;
}

.big-ship {
    width: 200px;
    background: url("../assets/ShipCarrierHullHorizontal.png") no-repeat center;
    background-size: 85%;
}

.medium-ship {
    width: 150px;
    background: url("../assets/ShipCruiserHullHorizontal.png") no-repeat center;
    background-size: 95%;
}

.patrol-ship {
    width: 100px;
    background: url("../assets/ShipPatrolHullHorizontal.png") no-repeat center;
    background-size: 90%;
}

.help-ship {
    width: 100px;
    background: url("../assets/ShipRescueHorizontal.png") no-repeat center;
    background-size: 90%;
}

.rotate-dragging {
    width: 50px;
}

.biggest-ship.rotate-dragging {
    height: 250px;
    background: url("../assets/ShipBattleshipHullVertical.png") no-repeat center;
    background-size: 70%;

}

.big-ship.rotate-dragging {
    height: 200px;
    background: url("../assets/ShipCarrierHullVertical.png") no-repeat center;
    background-size: 95%;
}

.medium-ship.rotate-dragging {
    height: 150px;
    background: url("../assets/ShipCruiserHullVertical.png") no-repeat center;
}

.patrol-ship.rotate-dragging {
    height: 100px;
    background: url("../assets/ShipPatrolHullVertical.png") no-repeat center;
    background-size: 40%;
}

.help-ship.rotate-dragging {
    height: 100px;
    background: url("../assets/ShipRescueVertical.png") no-repeat center;
    background-size: 30%;
}

.dragging {
    opacity: 0.5;
}

.rotate-container {
    flex-direction: row;
}

.playerTwo-ships.rotate-container {
    flex-direction: row-reverse;
}

.placed-ship {
    background-color: darkblue !important; 
}