/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

@font-face {
    font-family: 'ITC Machine';
    src: url(../../Font/ITC-Machine-Font-Family/ITC\ Machine\ Regular.otf);
}

:root {
    --bg-color: hsl(0, 6%, 21%);
    --water-tile-color: hsl(205, 100%, 50%);
    --hit-water-tile-color: hsl(0, 0%, 80%);
    --target-tile-color: hsl(40, 100%, 50%);
    --active-target-tile-color: hsl(40, 100%, 25%);
    --hit-ship-tile-color: hsl(0, 100%, 25%);
    --friendly-ship-tile-color: hsl(137, 100%, 25%);
}

html, body {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    display: grid;
    grid-template-rows: 1fr 3fr;
    font-family: 'ITC Machine';
}

#header {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    height: 75px;
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 4rem;
    padding-left: 8px;
    width: 300px;
    position: relative;
}

input:focus {
    background-color: var(--bg-color);
    position: relative;
    left: -8px;
    top: 10.5px;
    box-shadow: inset 0px 0px 25px black;
}

.input-wrapper {
    position: relative;
}

.name-span {
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 4rem;
    width: 300px;
}

.name-span::before {
    position: absolute;
    left: -10px;
    top: 0;
    content: var(--text-content);
    color: black;
    z-index: -1;
}

.buttons-container {
    display: flex;
    font-size: 1.75rem;
    gap: 1rem;
}

.header-button {
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    font-size: 7rem;
    color: azure;
    position: relative;
    letter-spacing: 1rem;
}

h1::before {
    position: absolute;
    left: -10px;
    top: 0;
    content: "BattleShip";
    color: black;
    z-index: -1;
}

#pass-turn {
    color: white;
    background-color: gray;
    position: absolute;
    z-index: 25;
    left: 44%;
    top: 60%;
    width: 150px;
    scale: 1.5;
}

.text {
    position: relative;
}

.text::before {
    position: absolute;
    left: -1px;
    top: -1px;
    content: "Passed The turn";
    color: black;
    z-index: -1;
}

#pass-turn.dissappear {
    display: none;
}

video {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 15;
    top: -30px;
    left: -2px;
    scale: 150%;
    pointer-events: none;
}